.cadastro {
  width: 100%;
  height: 100vh;
  padding: 2.4rem 1.6rem;
  background-image: linear-gradient(rgba(191, 219, 247, 0.5), var(--light));

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;

    h1 {
      font-weight: 500;
      font-size: 4rem;
      color: var(--primary);
    }
    p {
      font-size: 2.4rem;
      color: var(--primary);
    }
  }

  form {
    padding-top: 5rem;

    button {
      width: 100%;
    }

    .datanasc {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;

      .day {
      }

      .month {
      }

      .year {
      }
    }

    a {
      width: 100%;
      margin-top: 2.4rem;
    }
  }
}
