.select {
  .formControl {
    display: block;
    width: 100%;
    padding: 0.6rem 1.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: var(--mzl-body-line-height);
    color: var(--mzl-body-color);
    background-color: var(--mzl-body-bg-color);
    border-radius: 0.6rem;
    outline: none;
    border: 1px solid var(--mzl-gray-400);
    transition: all 150ms ease-in-out;
  }

  .formLabel {
    margin: 0.8rem 0;
  }
}
