.cadastrosecurity {
  width: 100%;
  height: 100vh;
  padding: 2.4rem 1.6rem;
  background-image: linear-gradient(rgba(191, 219, 247, 0.5), var(--light));

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;

    h1 {
      font-weight: 500;
      font-size: 4rem;
      color: var(--primary);
    }
    p {
      padding-top: 1.6rem;
      font-size: 2rem;
      color: var(--warning);
    }
  }

  form {
    padding-top: 2.4rem;

    .checkboxes {
      margin: 3.2rem 0;
    }

    a {
      width: 100%;
    }
  }
}
